/* .home {
    max-width: 1500px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
} */

/* .home__row {
    display: grid;
    padding: 10px;
    width: auto;
    height: auto;
    z-index: 1;
    margin-left: 5px;
    margin-right: 5px;
    justify-content: space-evenly;
} */


.home {
    display: grid;
    padding-top: 10px;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    width: 100%;
    grid-column-gap: 30px;
    grid-row-gap: 40px;
}

.home__row {
    display: flex;
    border: 1px solid lightgray;
    margin-left: 10px;
}

